/* CALENDAR */

.calendar {
    padding: 1.5rem 0;
}

.calendar_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 23rem;
    min-height: 4.5rem;
    margin: 0 auto .75rem;
    padding: 1rem;
    border-radius: .75rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.calendar_month {
    margin: 0;
    font-family: var(--font-title);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
}

.calendar_button {
    padding: 0;
    border: none;
    background: none;
}

.calendar_button span {
    padding: .5rem;
    border-radius: .75rem;
    color: var(--title-color);
    font-size: 1.375rem !important;
    font-weight: 600;
    background-color: rgba(var(--foreground), .05);
}

.calendar_container {
    margin: 0 .25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: .625rem;
    padding: .75rem .375rem;
    background-color: #fff;
}

.calendar_weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

.day_name {
    margin: 0;
    padding: .5rem 0;
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: var(--text-color);
}

.calendar_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .25rem 0.125rem;
}

.day {
    position: relative;

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;

    min-height: 5rem;
    padding: .5rem .25rem;
    border: 2px solid rgba(var(--foreground), .2);
    border-radius: .75rem;
    background-color: rgba(var(--foreground), .01);
}

/* .day.crrDay {
    border: 2px solid rgba(var(--blue), 1);
} */

.day.active {
    border: 2px solid rgba(var(--blue), 1);
}

.day.crrDay::after {
    content: '';
    position: absolute;
    top: .375rem;
    right: .375rem;
    width: .3125rem;
    height: .3125rem;
    border-radius: 50%;
    background-color: rgba(var(--blue), 1);
}

.previous_month, .next_month {
    opacity: .6;
}

.day_number, .day_worked_hours {
    margin: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: var(--text-color);
}

.day_number.finished {
    color: rgba(var(--blue), 1);
}

.day.active .day_number {
    color: rgba(var(--blue), 1);
}

.day.crrDay .day_number {
    color: rgba(var(--blue), 1);
}

.day.crrDay.active .day_number {
    /* color: #fff; */
}

.day_worked_hours {
    display: none;
    padding: .5rem .25rem;
    border-radius: .625rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    color: rgba(var(--green), 1);
    background-color: rgba(var(--green), .2);
}

.day_finished_icon {
    display: none !important;
    font-size: .875rem !important; 
    color: rgba(var(--green), 1);
    justify-self: right;
    align-self: center;
}

.day_worked_hours.finished, .day_finished_icon.finished {
    display: block !important;
}